{% extends 'base.html.twig' %}

{% block body %}
    <section class="articles">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <articles>
                            <h2>{{ article.titre }}</h2>
                            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</div>
                            <div class="content">
                                <img src="{{ article.image }}" alt="">
                                {{ article.contenu | raw }}
                                <p>lololo</p>

                                <p> </p>
                                <p>hohohoho</p>
                                <p>OUIOUINN</p>
                                <div class="container">
                                    <a href="" >J'AIME</a>
                                    <p> {{ cpt }}</p>
                                </div>
                                <p> </p>
                            </div>
                        </articles>
                        <h2>-----COMMENTAIRES------</h2>
                        <section id="commentaire">
                            {% for com in article.commentaires %}
                                <div class="row">
                                    <div class="col-3">
                                        {{ com.personne }}
                                    </div>
                                    <div class="col">
                                        {{ com.contenu }}
                                    </div>
                                </div>

                            {% endfor %}
                        </section>
                        <p>------------------------------------</p>
                        <div class="container">
                            {{ form_start(formC) }}
                            <div class="form-horizontal">
                                {{ form_widget(formC) }}

                                <p><button class="btn btn-success" > Ajouter commentaire </button></p>
                            </div>

                            {{ form_end(formC) }}

                        </div>
                        <a href="{{ path("blog_list") }}" class="btn btn-primary">Retour liste</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}